<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Mesa y Horario</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Registrar Mesa y Horario</h2>
<form th:action="@{/mesas/guardar}" method="post" th:object="${mesa}">
    <!-- MesaBar -->
    <fieldset>
        <legend>Mesa</legend>
        Capacidad: <input type="number" name="capacidad" required><br>
        Ubicación:
        <select name="ubicacion" >
            <option value="barra">barra</option>
            <option value="terraza">terraza</option>
            <option value="vip">vip</option>
            <option value="sofa">sofa</option>
        </select><br>
        Estado:
        <select name="estado">
            <option value="libre">libre</option>
            <option value="reservada">reservada</option>
            <option value="ocupada">ocupada</option>
        </select><br>
        Tipo:
        <select name="tipo">
            <option value="alta">alta</option>
            <option value="baja">baja</option>
            <option value="prvada">privada</option>
        </select><br>
    </fieldset>

    <!-- HorarioBar -->
    <fieldset>
        <legend>Horario</legend>
        Hora Apertura: <input type="time" name="horaApertura" required><br>
        Hora Cierre: <input type="time" name="horaCierre" required><br>
        Día:
        <select name="dia">
            <option value="jueves">jueves</option>
            <option value="viernes">viernes</option>
            <option value="sabado">sabado</option>
            <option value="Domingo">domingo</option>
        </select><br>
        ¿Hora Feliz?
        <input type="checkbox" name="horaFeliz"><br>
    </fieldset>

    <button type="submit">Guardar</button>
</form>
</body>
</html>
